title: {{name}}
license: Open Government Licence - Toronto
license_url: https://open.toronto.ca/open-data-licence/
source: Toronto Centreline (TCL) - City of Toronto Open Data Portal
source_url: {{url}}
about_url: https://github.com/{{repo}}/
